<h1>Sample list of <%= @operation.calcul_type %> <%= @operation.sensor.sensor_type %></h1>
<h2>on <%=@operation.period%> <%= OperationsHelper::get_unit(@operation.period_unit) %> </h2>
<p>in <%= @operation.sensor.device.location %> </p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>date</th>
      <% case @operation.sensor.sensor_type %>
      <% when "Temperature"  %>
        <th>temperature (°C)</th>
      <% when "Humidity" %>
        <th>humidity (°)</th>
      <% when "Voltage" %>
        <th>tension (V)</th>
      <% else %>
        <th>data</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= will_paginate @calculatedData %>
    <%= render @calculatedData %>
  </tbody>
</table>


