<h2><%= @user.name %> (<%=@user.user_name %>) </h2>
<ul>
  <% if @user.admin? then %>
  <li>
    <%= link_to 'Add an user', new_user_path %>
  </li>
  <li>
    <%= link_to 'User list', users_path %>
  </li>
  <li>
    <%= link_to 'syslog', syslog_path(lines:100) %>
  </li>
  <li>
    <%= link_to 'kernel log', kernel_log_path(lines:200) %>
  </li>
  <% end %>
  <li>
    <%= link_to 'Update information profile', edit_user_path(@user) %>
  </li>
</ul>
<table class="table table-hover">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>
        Email
      </td>
      <td>
        <%= @user.email %>
      </td>
    </tr>
<% if (@user.admin?) then %>
    <tr>
      <td>
        API key 
      </td>
      <td>
        <%= @user.api_key %> 
        <p> Add it into post_data.rb script in variable API</p>
        <p> <%= link_to 'Regenerate API key', 'update_api_key', class: 'btn btn-primary btn-xs' %></p>
      </td>
    </tr>
    <tr>
      <td>
        Version
      </td>
      <td>
        <% unless GIT_COMMIT.blank? -%>
          <%= GIT_COMMIT %>
        <% end -%>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<% if (@user.admin?) then %>
<% end %>
