<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Web monitor menu  
         <% if (signed_in?) then %>
           (<%= current_user.user_name %>)
         <% else %>
           (no logged)
         <% end %>
        <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
        <% if signed_in? then %>
          <li><%= link_to 'Dashboard', dashboard_path(current_user.dash_board) %></li>
          <li><%= link_to 'User info', user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Log out', signout_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Actuators', actuators_path %></li>
          <li><%= link_to 'Scheduling', range_commands_path %></li>
          <li class="divider"></li>
          <% end %>
          <li><%= link_to 'Device list', devices_path %></li>
          <li><%= link_to 'Report list', reports_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
