<tr>
  <td>
    <%= sensor.order %>
  </td>
  <td>
    <%= sensor.name %>
  </td>
  <td>
    <%= sensor.sensor_type %>
  </td>
  <td>
    <% if (sensor.last_sample != nil) then %>
    <%= sensor.last_sample.value %>
    (<%= time_ago_in_words(sensor.last_sample.dateTime) %>)
    <% end %>
  </td>
  <td>
    <%= link_to 'Show operation', sensor_show_operation_path(sensor), class: 'btn btn-primary btn-xs' %>
  </td>
  <td>
    <%= link_to sensor_path(sensor), sensor_path(sensor) %>
  </td>          
  <td>
    <% if (current_user.admin?) then %>
    <%= link_to 'Edit', edit_sensor_path(sensor), class: 'btn btn-primary btn-xs'  %>
    <% end %>
  </td>          
</tr>
