<h1>List of operations</h1>
<h3>Device '<%=@sensor.device.name %>', Sensor  '<%=@sensor.name %>' (flow ID: <%=@sensor.order %>) </h3>
<p>
  <%= button_to "Refresh", "", { :onclick => "history.go(0)" }  %> 
</p>
<ul>
  <% if (current_user.admin?) then %>
  <li>
    <%= link_to 'Add operation', new_operation_path(:sensor_id => @sensor.id) %>
  </li>
  <% end %>
  <li>
    <%= link_to 'Back to sensor list', device_path(@sensor.device) %>
  </li>
</ul>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Period</th>
      <th>Last value</th>
      <th>Sample data</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= render @sensor.operations.order(:name) %>
  </tbody>
</table>
