<h1>Data Monitoring </h1>
<ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Device List", devices_path %></li>
</ul>
<%= form_for(@report, html: { class: "form-horizontal" }) do |f| %>
<div class="form-group ">
  <%= f.label "Title", {:class => 'col-sm-2 control-label'} %> 
  <div class = 'col-sm-10'>
    <%= f.text_field :title, {:class => 'form-control ', :value => "Trends" } %>
  </div>
</div>
<div class="form-group">
  <%= f.label "Device Name", {:class => 'col-sm-2 control-label'} %>
  <div class = 'col-sm-10'>
  <%= f.text_field :deviceName, {:class => 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label "Flow ID", {:class => 'col-sm-2 control-label'} %>
  <div class = 'col-sm-10'>
  <%= f.text_field :flowID, {:class => 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <%= f.label "report begin", {:class => 'col-sm-2 control-label'} %>
  <div class = 'col-sm-10'>
  <%= f.datetime_local_field(:dateBegin, { :class => 'form-control', :value => DateTime.now.since(-1.days).strftime("%Y-%m-%dT%H:%M:%S") }) %>
  </div>
</div>
<div class="form-group">
  <%= f.label "report end", {:class => 'col-sm-2 control-label'} %>
  <div class = 'col-sm-10'>
  <%= f.datetime_local_field(:dateEnd, { :class => 'form-control', :value => DateTime.now.strftime("%Y-%m-%dT%H:%M:%S") }) %>
  </div>
</div>
<div class="action form-group">
  <div class = 'col-sm-offset-2 col-sm-10'>
  <%= f.submit "Create" %>
  </div>
</div>
<% end %>
