<div class="container">
<ul class="nav navbar-nav navbar-left">
  <li>
    <%= link_to "Back", reports_path, class: 'btn-link' %>
  </li>
  <li>
    <% if ((current_user == @report.user) || (current_user.admin?)) then %> 
    <%= link_to "Edit", edit_report_path(@report), class: 'btn-link' %>
    <% end %>
  </li>
  <li>
    <% if ((current_user == @report.user) || (current_user.admin?)) then %> 
    <%= link_to "Delete", report_path(@report), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-link' %>
    <% end %>
  </li>
</ul>
</div>
<h1><%= @report.name %></h1>
<ul>
<li>
  From <%=@report.dateBegin %>
</li>
<li>
  To <%=@report.dateEnd %>
</li>
</ul>
<% i = 0 %>
<% @data.each do |chartData| %>
<h2><%= @dataCtrl[i][0] %> (<%=@dataCtrl[i][1]%>)</h2>
<p>
  <%= line_chart [ { name: @dataCtrl[i][2], data: chartData } ],
                     ytitle: unit(@dataCtrl[i][2])  %>
</p>
<% i+=1 %>
<% end %>
