<div class="container">
<ul class="nav navbar-nav navbar-left">
  <li>
    <%= link_to "Back", reports_path, class: 'btn-link' %>
  </li>
  <li>
    <% if ((current_user == @report.user) || (current_user.admin?)) then %> 
    <%= link_to "Edit", edit_report_path(@report), class: 'btn-link' %>
    <% end %>
  </li>
  <li>
    <% if ((current_user == @report.user) || (current_user.admin?)) then %> 
    <%= link_to "Delete", report_path(@report), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-link' %>
    <% end %>
  </li>
</ul>
</div>
<p>
  <%= button_to "Refresh", "", { :onclick => "history.go(0)" }  %> 
</p>
<h1><%= @report.name %></h1>
<ul>
<li>
  From <%=@report.dateBegin %>
</li>
<li>
  To <%=@report.dateEnd %>
</li>
</ul>
<% i = 0 %>
<% @chartDatas.each do |chartData| %>
<h2><%= @chartTitles[i] %> </h2>
<p>
  <%= line_chart chartData, library: { chart: {zoomType: 'xy'}},
                 xtitle: "Time", ytitle: @chartUnits[i] #, min: @chartScale[i]['min'], max: @chartScale[i]['max']
                 %>
</p>
<% i += 1 %>
<% end %>
