<h1> Report <%= @report.name %> </h1>
<span><%=notice%></span><br/>
<%= link_to "Back", reports_path%>
<%= link_to "Edit", edit_report_path(@report)%>
<%= link_to "Delete", report_path(@report), method: :delete %>
<% i = 0 %>
<% @data.each do |chartData| %>
<h2><%= @dataCtrl[i][0] %> (<%=@dataCtrl[i][1]%>)</h2>
<p>
  <%= line_chart [ { name: @dataCtrl[i][2], data: chartData } ],
                     ytitle: unit(@dataCtrl[i][2])  %>
</p>
<% i+=1 %>
<% end %>
