<tr>
  <td>
    <%= operation.id %>
  </td>
  <td>
    <%= operation.calcul_type %>
  </td>
  <td>
    <%= operation.period %>
    <%= get_unit(operation.period_unit) %>
  </td>
  <td>
    <%= link_to "Edit", edit_operation_path(operation), class: 'btn btn-primary btn-xs' %> 
  </td>
  <td>
    <%= link_to "Delete", operation_path(operation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
  </td>
</tr>

