<tr>
  <td>
    <%= operation.id %>
  </td>
  <td>
    <%= operation.calcul_type %>
  </td>
  <td>
    <%= operation.period %>
    <%= OperationsHelper::get_unit(operation.period_unit) %>
  </td>
  <td>
    <% if (operation.last_sample != nil) then %>
    <%= operation.last_sample.value %>
    (<%= time_ago_in_words(operation.last_sample.beginPeriod) %>)
    <% end %>
  </td>
  <td>
    <%= link_to 'samples', calculated_data_path(:operation_id => operation.id) %>
  </td>
  <td>
    <%= link_to "Edit", edit_operation_path(operation), class: 'btn btn-primary btn-xs' %> 
  </td>
  <td>
    <%= link_to "Delete", operation_path(operation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
  </td>
</tr>

